body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-around;
    background-color: #222222;
    color: #e5e5e5;
    align-items: center;
}

.logo-text {
    font-size: 24px
}

nav ul {
    display: flex;
    gap: 25px;
}
nav ul li {
    display: inline-block;
    font-size: 18px;
}

li a {
    text-decoration: none;
    color: #e5e5e5;
}

li a:hover {
    color: #b9b9b9;
}

/* MAIN */

/* About part */
.about {
    display: flex;
    background-color: #1f2937;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
    gap: 30px;
}

.info-part {
    width: 30%;
}

.about-title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.about-info {
    color: #e5e7eb;
    font-size: 18px;
}

.about-button {
    color: #f9faf8;
    width: 130px;
    background-color: #3882f6;
    padding: 8px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.about-button:hover {
    background-color: #3b6cb9;
}

.about-photo {
    width: 700px;
    margin-right: 100px;
    border-radius: 5px;
}

/* Hotel photo part */

.hotel-photo {
    width: 70%;
    margin: 50px auto;
}

.hotel-photo h2 {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    text-align: center;
}

.hotel-pictures {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

.hotel-pic {
    width: 350px;
    height: 450px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #868686;
}

/* Quote */

.quote-part {
    margin-top: 90px;
    background-color: #e5e7eb;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-part q {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote-part p {
    color: #1f2937;
    font-weight: bold;
    font-size: 18px;
    margin-left: 550px;
}

/* Contact */

.contact-part {
    background-color: #3882f6;
    width: 60%;
    margin: 90px auto;
    color: #e5e7eb;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    padding: 15px;
    gap: 380px;
}

.contact-info h3 {
    margin-bottom: 0;
    font-size: 21px;
}

.contact-info p {
    margin-top: 0;
}

.contact-button button{
    width: 130px;
    padding: 7px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    color: #e5e7eb;
    background-color: transparent;
    border: 2px solid #e5e7eb;
    outline: none;
    cursor: pointer;
}

.contact-button button:hover {
    background-color: #5190f5;
}

/* FOOTER */

footer {
    background-color: #1f2937;
    color: #c5c5c7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}